@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body{
    font-family: 'Koulen', cursive;
}

.div-card{
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    transition: all .5s ease;
} 
.div-card:hover{
    top: -20px;
}


.img-card{
    width: 215px;
    transition: all .5s ease;
}

.text-xl{
    font-size: 1.5rem !important;
}

.text-sm{
    font-size: .8rem !important;
}

.opacity-2{
    opacity: 0.2;
}

.cursor-not-allowed{
    cursor: not-allowed;
}

.cursor-pointer{
    cursor: pointer;
}

.row-count{
    background: #FF7676;
    height: 100px;
}

.color-pokemon{
    color: #FFCC01;
}

.btn-pokemon{
    background: #FFCC01;
    color: #ffffff;
    padding: .5rem;
    width: 15rem;
    border-radius: 2rem;
    text-align: center;
    transition: all .5s ease;
    font-size: 20px;
}

.btn-pokemon:hover{
    background: #ffffff;
    color: #FFCC01;
}

.wh-150{
    width: 150px;
    height: 150px;
}
